{% extends '_base.html' %}
{% load static %}

{% block title %}Log in{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h2>Log in</h2>
  <form action="" method="post" id="welcome-form">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-component">

      <input type="text" id="id_login" class="input-component_field">
      <label for="id_login">{{field.label}}</label>
      <span class='error'>This field cannot be empty</span>
    </div>
    {% endfor %}
    <p><a href="{% url 'account_reset_password' %}" class="text-yellow" style="text-decoration: underline;">Forget password?</a></p>
    <button class="welcome-form_button" type="submit">Log in</button>
  </form>
</div>
{% endblock content %}

{% block javascript %}
<script>
  const formElement = document.querySelector("#welcome-form");

  // formElement.addEventListener('submit', e=> {
  //   e.preventDefault()
  // })
</script>
{% endblock javascript%}