{% extends '_base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<style>
  .container{
    justify-content: flex-start;
    text-align: left;
  }

  #welcome-form{
    width: 100%;
    max-width: 500px;
  }
</style>
{% endblock %}

{% block content %}

<div class="container">
  <h2>Forgot your password?</h2>
  <form method="post" id="welcome-form" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="input-component">

      <input type="text" id="id_login" class="input-component_field">
      <label for="id_login">{{field.label}}</label>
      {% if field.errors %} <span class='error'>{{field.errors}}</span> {% endif %}
    </div>
    {% endfor %}
    <button class="welcome-form_button" style="width: fit-content;" type="submit">Reset password</button>
  </form>
</div>
{% endblock content %}