{% extends '_base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h2>Change Password</h2>

<form method="post" id="welcome-form" action="{% url 'account_change_password' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="input-component">

    <input type="text" id="id_login" class="input-component_field">
    <label for="id_login">{{field.label}}</label>
    <span class='error'>This field cannot be empty</span>
  </div>
  {% endfor %}
  <button class="welcome-form_button" type="submit">Change Password</button>
</form>

{% endblock content %}
