<div class="wrapper">
    <!-- image -->
    <div class="banner_image">

    </div>
    <!-- text -->
    <div class="container">
        <h1 class="site-title">Monthly <span>Budget</span></h1>

        <!-- form -->
        <form action="" method="post" id="welcome-form">
            <div class="input-component">

                <input type="text" id="income" class="input-component_field">
                <label for="income">Insert your Income</label>
                <span class='error'>This field cannot be empty</span>
            </div>

            <div class="input-component">
                <input type="text" id="username" class="input-component_field">
                <label for="username">Insert your Name</label>
                <span class='error'>This field cannot be empty</span>
            </div>

            <div class="input-component">
                <input type="text" id="goal" class="input-component_field">
                <label for="goal">Insert your Goal</label>
                <span class='error'>This field cannot be empty</span>
            </div>

            <button type="submit" class="welcome-form_button">Start your Calculation</button>
        </form>
    </div>
</div>