{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <title>{% block title %}Xpenditure{% endblock title %}</title>
  {% block css %}

  {% endblock %}
</head>

<body>

  <main>
    <!-- navigation bar -->
    <nav class="navigation-container">
      <div>
        <span class="text-yellow">Expenses</span>
        <h1>Monthly <span class="">Budget</span></h1>
      </div>

      {% if user.is_authenticated %}
      <div class="navigation-items">
        <button class="btn-yellow" id="add-expense">New Expense</button>
        <div>
          <img src="" alt="">
          <span>Welcome {{user.username}}</span>
        </div>
      </div>
      {% else %}
      <div class="navigation-items">
        <a href="{% url 'account_login' %}" class="btn-yellow">Login</a>
        <a href="{% url 'account_signup' %}" class="btn-yellow">Register</a>
      </div>
      {% endif %}
    </nav>

    {% block content %}
    <p>Default content...</p>
    {% endblock content %}
  </main>


  {% block javascript %}

  {% endblock javascript %}
</body>

</html>